/*  GLOBAL
    ......................................  */

* {
    box-sizing: border-box;
}

html, body {
    overflow-x: hidden;
}

html {
    min-height: 100%;
    position: relative;
}

/*  GRID
    ......................................  */

.container {
    display: block;
    margin: 0 auto;
    width: 100%;
}

@media screen and (min-width: 35.5em) {
    .container {
        max-width: 32rem;
    }
}

@media screen and (min-width: 48em) {
    .container {
        max-width: 44rem;
    }
}

@media screen and (min-width: 64em) {
    .container {
        max-width: 60rem;
    }
}

@media screen and (min-width: 80em) {
    .container {
        max-width: 76rem;
    }
}

/*  FORMS
    ......................................  */

select,
input[type="checkbox"],
input[type="radio"],
input[type="checkbox"] + label,
input[type="radio"] + label {
    cursor: pointer;
}

/*  MISC.
    ......................................  */

img {
    max-width: 100%;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

.loader {
    position: fixed;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    z-index: 999;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

/*  PRINT STYLES
    ......................................  */

@media print {
    *,
    *:before,
    *:after,
    p:first-letter,
    div:first-letter,
    blockquote:first-letter,
    li:first-letter,
    p:first-line,
    div:first-line,
    blockquote:first-line,
    li:first-line {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }
    a,
    a:visited {
        text-decoration: underline;
    }
    a[href]:after {
        content: " (" attr(href) ")";
    }
    abbr[title]:after {
        content: " (" attr(title) ")";
    }
    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }
    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }
    thead {
        display: table-header-group;
    }
    tr,
    img {
        page-break-inside: avoid;
    }
    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }
    h2,
    h3 {
        page-break-after: avoid;
    }
}
